version: "3.8"

services:
  web:
    build: .
    container_name: flask_app
    ports:
      -  "5000:5000"
    depends_on:
      -  db

  db:
    image: postgres:15
    container_name: postgres_db
    environment: 
      POSTGRES_USER: devops
      POSTGRES_PASSWORD: devops
      POSTGRES_DB: devopsdb
    ports:
      -  "5432:5432"
